html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#app {
  background-color: #f5f5f5;
  .el-menu {
    border-right: none;
  }

  .el-card {
    border: none;
    border-radius: 12px;
  }

  .el-menu-item.is-active {
    background-color: var(--el-menu-item-hover-fill);
  }

  .el-breadcrumb__inner a,
  .el-breadcrumb__inner.is-link {
    color: var(--el-text-color-regular);
  }
}
