.markdown-body {
  ul {
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: white !important;
}

.markdown-body img {
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px var(--color-border-muted);
}
