.markdown-body {
  background-color: transparent !important;
  color: var(--el-text-color-primary) !important;
  ul {
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }

  h1,
  h2 {
    .anchor {
      display: none;
      margin-left: 0;
      margin-right: 5px;
      color: var(--el-color-primary);
    }
    &:hover {
      .anchor {
        display: inline-block;
      }
    }
  }

  .highlight pre,
  pre {
    background-color: #253238 !important;
  }

  pre {
    position: relative;
    color: var(--el-text-color-regular) !important;

    code {
      color: white;

      .hljs-title,
      .hljs-keyword,
      .hljs-built_in,
      .hljs-number,
      .hljs-comment {
        font-style: normal !important;
      }
    }
  }

  pre button {
    color: #adb5bd;
    box-sizing: border-box;
    transition: 0.2s ease-out;
    cursor: pointer;
    user-select: none;
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px 10px;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0.15rem;
  }

  blockquote {
    color: var(--el-text-color-regular) !important;
    font-size: 14px !important;
    border-left: 0.25em solid var(--el-color-primary) !important;
  }

  a {
    color: var(--el-color-primary) !important;
  }

  img {
    max-width: min(100%, 400px) !important;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 3px 0 var(--color-border-muted, var(--el-border-color));
  }

  table tr {
    background-color: var(--el-color-info-light-2) !important;
  }

  hr {
    height: 1px !important;
  }

  .think {
    border-left: 3px solid var(--el-border-color);
    padding-left: 10px;
    line-height: 20px;
    font-size: 12px;
    color: var(--el-text-color-regular);
  }
}
