.markdown-body {
  ul {
    list-style: initial;
  }

  ol {
    list-style: decimal;
  }
}

.markdown-body .highlight pre,
.markdown-body pre {
  background-color: #253238 !important;
}

.markdown-body pre code {
  color: white;
}

.markdown-body pre code .hljs-title,
.hljs-keyword,
.hljs-built_in,
.hljs-number,
.hljs-comment {
  font-style: normal !important;
}

.markdown-body img {
  border-radius: 10px;
  box-shadow: 0px 0px 3px 0px var(--color-border-muted);
}

.markdown-body table tr {
  background-color: var(--el-color-info-light-2) !important;
}

pre {
  position: relative;
}

pre button {
  color: #adb5bd;
  box-sizing: border-box;
  transition: 0.2s ease-out;
  cursor: pointer;
  user-select: none;
  background: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px 10px;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0.15rem;
}
