.adc-io-ring,
.adc-io-ring span {
  box-sizing: border-box;
}
.adc-io-ring {
  display: inline-block;
  position: relative;
  width: var(--loader-size);
  height: var(--loader-size);
}
.adc-io-ring span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: calc(var(--loader-size) * 0.8);
  height: calc(var(--loader-size) * 0.8);
  margin: calc(var(--loader-size) * 0.1);
  border: calc(var(--loader-size) * 0.1) solid currentColor;
  border-radius: 50%;
  animation: adc-io-ring calc(1.2s / var(--loader-speed)) cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: currentColor transparent transparent transparent;
}
.adc-io-ring span:nth-child(1) {
  animation-delay: -0.45s;
}
.adc-io-ring span:nth-child(2) {
  animation-delay: -0.3s;
}
.adc-io-ring span:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes adc-io-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
